<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title"><img src="img/CRITalign_logo_top_114.png" alt="CRITalign Logo" width="114" height="114">CRITalign</h1>
        <nav>
            <ul>
                <li><a href="index.html"><span class="glyphicons white home"></span><div>Home</div></a></li>
                <li><a href="contact.html"><span class="glyphicons white conversation"></span><div>Contact</div></a></li>
                <li><a href="blog.html"><span class="glyphicons white keynote"></span><div>Blog</div></a></li>
            </ul>
        </nav>
    </header>
</div>
